@model Movie
@{
    ViewBag.Title = "Delete Movie";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId" />
    <button type="submit" class="btn btn-outline-danger btn-dark">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning btn-dark">Cancel</a>
</form>
